<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Demo = in-memory; SQLite, Oracle hoặc MySql = dùng DB thật -->
    <add key="Data.Mode" value="Demo" />
    <!-- Tài khoản demo, sửa trực tiếp tại đây -->
    <add key="Login.Username" value="admin" />
    <add key="Login.Password" value="123456" />
    <add key="Login.DisplayName" value="Quản trị bồi thường" />
    <add key="ClaimSdk.PluginFolder" value="~/App_Data/ClaimExtensions" />
  </appSettings>
  <connectionStrings>
    <add name="OracleClaimDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=YOUR_USER;Password=YOUR_PASSWORD;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=YOUR_HOST)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=YOUR_SERVICE_NAME)));" />
    <add name="MySqlClaimDb" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Port=3306;Database=claim_car;Uid=claim_car_app;Pwd=YOUR_PASSWORD;SslMode=Preferred;CharSet=utf8mb4;" />
    <add name="SQLiteClaimDb" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\claimcar.db;Version=3;Foreign Keys=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
	  <httpRuntime targetFramework="4.6.1" requestValidationMode="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
    <authentication mode="Forms"><forms loginUrl="~/Account/Login" timeout="120" slidingExpiration="true" /></authentication>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol><customHeaders><remove name="X-Powered-By" /></customHeaders></httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly><assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly>
      <dependentAssembly><assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client><version number="*"><dataSources><dataSource alias="ClaimDb" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=YOUR_HOST)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=YOUR_SERVICE_NAME)))" /></dataSources></version></oracle.manageddataaccess.client>
</configuration>
